<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sdl2.nuget" version="2.28.1" targetFramework="native" />
  <package id="sdl2.nuget.redist" version="2.28.1" targetFramework="native" />
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn" version="1.8.1.7" targetFramework="native" />
</packages>